* {
  color: purple;
  background-color: tan;
}

body {
	background-image: url("http://image.shutterstock.com/z/stock-vector--illustration-of-cute-cartoon-dogs-on-white-background-cute-akita-inu-shiba-inu-and-husky-can-be-399470293.jpg");
	background-position: center center;
	background-size: cover;
}

img {
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 100px;
    background-position: center center;
}
