* {
  color: violet;
}

body {
	background-image: url("http://image.shutterstock.com/z/stock-vector--illustration-of-cute-cartoon-dogs-on-white-background-cute-akita-inu-shiba-inu-and-husky-can-be-399470293.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center
	background-size: cover;
}

/*background: url('Your image URL') 100% no-repeat;

table, td {
	border: 1px #70b8ff dashed;
}


head {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: black;
}

#header {
	position: relative;
	top: -10px;
	background-color: #3c4543;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;


